<p id="notice"><%= notice %></p>

<h1>Listing Advertisings</h1>

<table>
  <thead>
    <tr>
      <th>Img url</th>
      <th>Link url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @advertisings.each do |advertising| %>
      <tr>
        <td><%= advertising.img_url %></td>
        <td><%= advertising.link_url %></td>
        <td><%= link_to 'Show', admin_advertising_path(advertising) %></td>
        <td><%= link_to 'Edit', edit_admin_advertising_path(advertising) %></td>
        <td><%= link_to 'Destroy', admin_advertising_path(advertising), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Advertising', new_admin_advertising_path %>
