
<script type="text/javascript">
$(function () {
	$("body").css("background","black");
	$("body").css("color","white");
	if ($(".nav-desktop").length) {
		$(".nav-desktop").css("position","absolute");
	}; 

});
</script>
<header class="header">
		<img src="/photo_store/volante.png">
</header>
<div class="row principal-container" >

	<div class="col-xs-3">
	</div>
	<div class="col-xs-6">
		<ul class="tab">
			<li><a href="#news" class="tablinks"> Blog</a></li>
			<li><a href="#updates" class="tablinks"> Updates</a></li>
		</ul>
		<div class="row">
			<div class="col-xs-8 no-padding-right">
				<div class="posts-container">
					 <div id="news" class="tab-content">
						 <% @posts.each do |post| %>
						 	<div id="<%='post-'+post.id.to_s%>" class="post-container">
							 	<h1><%=post.title%></h1>
							 	<h4><%=post.subtitle%></h3>
							 	<h4><%=post.fecha_c%></h3>
							 	<div class="container-image-post">
							 		<img src="<%=post.img_url%>" alt="<%=post.title%>">
							 	</div>
							 	<p><%=post.description%></p>
							 </div>
						 <hr> 
						 <%end%>
					 </div>
					 <div id="updates" class="tab-content">
						 <% @posts.each do |post| %>
						 	<div id="<%='post-'+post.id.to_s%>" class="post-container">
							 	<h1><%=post.title%></h1>
							 	<h4><%=post.subtitle%></h3>
							 	<h4><%=post.fecha_c%></h3>
							 	<div class="container-image-post">
							 		<img src="<%=post.img_url%>" alt="<%=post.title%>">
							 	</div>
							 	<p><%=post.description%></p>
							 </div>
						 <hr> 
						 <%end%>
					 </div>
				</div>
			</div>
			<div class="col-xs-4 no-padding-left">
				<div class="link-network"><img class="img-network" src="/photo_store/btn_network.png"></img></div>
				<div class="link-advertising"><img class="img-advertising" src="/photo_store/publicidad.png"></img></div>
				<div class="box-searching">
					<div>
						<div class="input-group"> 
							<input type="text" class="form-control input-searching empty" aria-label="Text input with multiple buttons" id="iconified" placeholder="&#xF002;"> 
							<div class="input-group-btn"> 
								<button type="button" class="btn btn-search">BUSCAR</button> 
							</div> 
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="col-xs-3">
	</div>
</div>
<footer align="center">
<span ><b>MyDealer</b> y <b>MyDealer Network</b> son marcas registradas <br> de buildingSoftware JE, SRL. Todos los derechos reservados. <br> buildingSoftware 2016</span>
</footer>

