<%= form_for(@post,url: (@post.new_record? ? admin_posts_url : admin_post_url )) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="field">
    <%=f.label :photo, "Imagen del post"%><br>
    <%= image_tag @post.ruta_photo, id: "containerImage", class: "img-post"%><br>
    <button type="button" style="margin-top:5px;" class="btn btn-default" aria-label="Left Align" onclick="$('#file').click();">
      <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
      Cargar Imagen &nbsp;
    </button>
 </div>
<script>
  var loadFile = function(event) {
    var reader = new FileReader();
    reader.onload = function(){
      var output = document.getElementById('containerImage');
      output.src = reader.result;
    };
    reader.readAsDataURL(event.target.files[0]);
  };

</script>
  <div class="field">
    <%= f.label :title, "Título" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :subtitle, "Subtítulo" %><br>
    <%= f.text_field :subtitle %>
  </div>
  <div class="field">
    <%= f.label :description, "Descripción" %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <button type="button" style="margin-top:5px;" class="visible-xs btn btn-block btn-primary btn-lg" aria-label="Left Align" onclick="getUrlImage();"><%= (@post.new_record? ? "Crear Post" : "Actualizar Post")%></button>
    <button type="button" style="margin-top:5px;" class="hidden-xs btn btn-primary" aria-label="Left Align" onclick="getUrlImage();"><%= (@post.new_record? ? "Crear Post" : "Actualizar Post")%></button>
  </div>
<% end %>
<div class="hidden">
  <form id = "form-post-img" method="POST" action="http://uploads.im/api?upload" enctype="multipart/form-data">
    <input type="file" id="file" name="file" onchange= "loadFile(event)" />
    <input type="submit" value="SEND FILE">
  </form>
</div>