<%= form_for(@post,url: (@post.new_record? ? admin_posts_url : admin_post_url ),class: "form-with-img") do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="field">
    <%=f.label :photo, "Imagen de la entrada"%><br>
    <%= image_tag @post.img_url, id: "containerImage", class: "img-upload"%><br>
    <button type="button" style="margin-top:5px;" class="btn btn-default"  onclick="$('#file').click();">
      <span class="glyphicon glyphicon-camera" aria-hidden="true" style="margin-right:5px;" ></span>
      Cargar Imagen &nbsp;
    </button>
 </div>
<script>
  var loadFile = function(event) {
    var reader = new FileReader();
    reader.onload = function(){
      var output = document.getElementById('containerImage');
      output.src = reader.result;
    };
    reader.readAsDataURL(event.target.files[0]);
  };

</script>
  <div class="field">
    <%= f.label :title, "Título" %><br>
    <%= f.text_field :title,class:"form-control select2" %>
  </div>
  <div class="field">
    <%= f.label :subtitle, "Subtítulo" %><br>
    <%= f.text_field :subtitle,class:"form-control select2"%>
  </div>

  <div class="field">
  <%= f.label :type_id, "Tipo de entrada" %><br>
  <%= f.select :type_id, options_for_select(Type.all.pluck(:name,:id),( @post.type ? @post.type_id : "" )),{},{class:"form-control select2"}%>
  </div>
  <div class="field">
    <%= f.label :description, "Descripción" %><br>
    <%= f.text_area :description,class:"form-control select2" %>
  </div>
  <div class="actions">
    <button type="button" style="margin-top:5px;" class="visible-xs btn btn-block btn-primary btn-lg" aria-label="Left Align" onclick="getUrlImage('post');"><%= (@post.new_record? ? "Crear Post" : "Actualizar Post")%></button>
    <button type="button" style="margin-top:5px;" class="hidden-xs btn btn-primary" aria-label="Left Align" onclick="getUrlImage('post');"><%= (@post.new_record? ? "Crear Entrada" : "Actualizar Entrada")%></button>
  </div>
<% end %>
<div class="hidden">
  <form id = "file-img" method="POST" action="http://uploads.im/api?upload" enctype="multipart/form-data">
    <input type="file" id="file" name="file" onchange= "loadFile(event)" />
    <input type="submit" value="SEND FILE">
  </form>||
</div>